body {
    margin: 0;
    padding: 0;
    /* NEXT LINE: Need local file OR working link to image file*/
    background-image: url("Recipebackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
html, body {
    height: 100%;
}

h1 {
    font-family: cursive;
    font-size: 50px;
    color: black;
    text-align: center;
}

form {
    font-family: cursive;
    text-align: center; 
    margin: 20px auto; 
    max-width: 400px; 
}

label {
    font-family: cursive;
    text-align: center; 
    font-size: 20px;
    display: block; 
    margin-bottom: 10px; 
}

input[type="text"] {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    width: 100%; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

button[type="submit"] {
    background-color: yellowgreen; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
}

button[type="submit"]:hover {
    background-color: #2980b9; 
}


h2 {
    font-size: 24px; 
    color: #333; 
    text-align: center; 
}

/*FOR LIST: 1-Make each box linked to recipe as we do have url. 2-Center boxes*/
ul {
    margin: 0; 
    padding: 0; 
    list-style: none; 
}

li {
    background-color: #fff; 
    border: 1px solid #ddd; 
    margin: 10px; 
    padding: 20px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    max-width: 400px; 
    border-radius: 5px; 
    transition: transform 0.2s; 
}


h3 {
    font-size: 20px; 
    color: #333; 
}


p {
    font-size: 16px; 
    color: #777; 
}


img {
    width: 100%; 
    height: auto; 
}


li:hover {
    transform: scale(1.03); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}


.recipe-list {
    list-style: disc;
    padding: 0;
    text-align: center;
}


